[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metatrader5 = "*"
SQLAlchemy = "~=2.0.9"
python-json-logger = "*"
pydantic = "~=1.10.7"
alembic =  "~=1.10.4"
azure-keyvault-keys = "~=4.7.0"
azure-identity = "~=1.12.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"

[scripts]

env = "cp .env.example .env"